<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agendageral">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgendaGeral">
        <activity
            android:name=".agenda_v6.EditarContatoV6Activity"
            android:exported="true" />
        <activity
            android:name=".agenda_v6.AgendaTelaInicioV6Activity"
            android:exported="true"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".agenda_v5.EditarContatoV5Activity"
            android:exported="true" />
        <activity
            android:name=".agenda_v5.TelaInicioV5Activity"
            android:exported="true"
            android:label="@string/title_activity_tela_inicio_v5"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".TelaDeInicioActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".agenda_v4.EditarContatoActivity"
            android:exported="true" />
        <activity
            android:name=".agenda_v4.TelaInicialAgendaV4Activity"
            android:exported="true"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".agenda_v3.EditarContato3Activity"
            android:exported="true" />
        <activity
            android:name=".agenda_v3.AgendaV3Activity"
            android:exported="true" />
        <activity
            android:name=".agenda_v2.AgendaV2Activity"
            android:exported="true" />
        <activity
            android:name=".agenda_v1.EditarContatoActivity"
            android:exported="true" />
        <activity
            android:name=".agenda_v1.TelaInicialActivity"
            android:exported="true" />
    </application>

</manifest>